@CHARSET "ISO-8859-1";
body{
	font-family: 'Varela Round', sans-serif;	
	background:url("laguna.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
}
#table{
	width:30%;
	height:30%;
	margin-left:35%;
	margin-top:3%;

}
#tableStyle{
	background-color:rgba(255,255,255,0.35);
}
.img-circle:hover{
		-webkit-transform:scale(1.05);
		-moz-transform:scale(1.05);
		-ms-transform:scale(1.05);
		-o-transform:scale(1.05);
		transform:scale(1.05);
}
